/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.gradient-container {
  height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: flex; /* Center content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    box-sizing: border-box;
}

.office-image {
  width: 50%;
  height: auto;

}

@font-face {
  font-family: 'Vegan'; /* Replace with your font's name */
  src: url('./fonts/vegan.ttf') format('truetype'); /* Ensure the path is correct */
  font-weight: normal; /* You can specify weight variations if needed */
  font-style: normal; /* Specify the style (normal, italic, etc.) */
}

@font-face {
  font-family: 'Outfit'; /* Replace with your font's name */
  src: url('./fonts/outfit.ttf') format('truetype'); /* Ensure the path is correct */
  font-weight: normal; /* You can specify weight variations if needed */
  font-style: normal; /* Specify the style (normal, italic, etc.) */
}


.content-container {
  display: flex;
  flex-direction: column; /* Fix the case */
  align-items: center;    /* Fix the case */
  gap: 20px;              /* Correct syntax */
  margin-top: 40px;       /* No issue here */
}